/*fondo*/
.fondo-loging {
  background: #0c0c0c;
  background: linear-gradient(to right, #351313, #c57a18);
}

/*imagen*/
.bg {
  background-image: url(../img/fondoInicio.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*caja de formularios*/
.form-box {
  height: 560px;
  position: relative;
  margin: auto;
  background: #fff;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.containerMT {
  width: 50%;
}

/*botones de inio y registro*/
.butonbox {
  /*caja de botones*/
  width: 210px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  /*sombra al rededor de boton*/
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}

.toggle-btn {
  /*alternar botones*/
  padding: 10px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  /*estilo y color de boton*/
  top: 0;
  left: 0;
  position: absolute;
  width: 120px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: .5s;
}

/*formularios Inicio*/
.input-group {
  top: 30px;
  position: absolute;
  width: 300px;
  transition: .5s;
}

#login {
  top: 210px;
  position: absolute;
  width: 90%;
  transition: .5s;
  left: 1000;
}

#registro {
  top: 210px;
  position: absolute;
  width: 90%;
  transition: .5s;
  margin-left: 1000;
}